@model ClinicaVeterinaria.Models.Dominio.Veterinario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Veterinario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeVeterinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeVeterinario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpfVeterinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpfVeterinario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nascimentoVeterinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nascimentoVeterinario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefoneVeterinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefoneVeterinario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.enderecoVeterinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.enderecoVeterinario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cidadeVeterinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cidadeVeterinario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ufVeterinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ufVeterinario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
