@model IEnumerable<ClinicaVeterinaria.Models.Dominio.Veterinario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeVeterinario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpfVeterinario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nascimentoVeterinario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefoneVeterinario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoVeterinario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidadeVeterinario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ufVeterinario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeVeterinario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpfVeterinario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nascimentoVeterinario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefoneVeterinario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enderecoVeterinario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidadeVeterinario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ufVeterinario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
