@model IEnumerable<ClinicaVeterinaria.Models.Dominio.Animal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeProp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpfProp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nascimentoProp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especieAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.racaAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pesoAnimal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeProp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpfProp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nascimentoProp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especieAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.racaAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pesoAnimal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
